<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
      <!--Add Feedz.io restore sources while we wait for the ability to update shared infrastructure-->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="SixLabors" value="https://f.feedz.io/sixlabors/sixlabors/nuget/index.json"/>
    <add key="dotnet" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json"/>
  </packageSources>
</configuration>
