<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>lcov</Format>
                    <Include>[SixLabors.*]*</Include>
                    <!--
                     Temp: Exclude everything inside the namespace "SixLabors.ImageSharp.Drawing.WebGPU"
                     while we figure out how to stabalize in the CI.
                      --> 
                    <Exclude>[SixLabors.ImageSharp.Drawing.WebGPU*]*</Exclude>
                    <UseSourceLink>true</UseSourceLink>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
